@font-face{
	font-family: "DINPro-Bold_13934";
	src:url("../fonts/DINPro-Bold_13934.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "DINPro-Medium_13936";
	src:url("../fonts/DINPro-Medium_13936.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "MyriadPro-Regular";
	src:url("../fonts/MyriadPro-Regular.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Proxima-Nova-Thin.otf";
	src:url("../fonts/Proxima-Nova-Thin.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "segoeuisl.ttf";
	src:url("../fonts/10393.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "SourceSansPro-Semibold.otf";
	src:url("../fonts/SourceSansPro-Semibold.otf");
	font-style: normal;
	font-weight: normal;
}