@font-face{
	font-family: "CenturyGothicBold";
	src:url("../libs/fonts/CenturyGothicBold.ttf");
	font-style: normal;
	font-weight: bold;
}
@font-face{
	font-family: "CenturyGothicRegular";
	src:url("../libs/fonts/CenturyGothicRegular.ttf");
	font-style: normal;
	font-weight: normal;
}