html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Reset end
//Import
@import "_fonts.scss";
@import "_variables.scss";
//END Import
body{
	background: url("../img/bg.gif") no-repeat;
	background-color: #F4F1F1;
	height: 100%;
	position: relative;
}
.logoBlock a img{
	max-width: 100%;
}
//hidden div for scrolling
#hiddenDiv{
	width: 0;
	height: 0;
}
.scrollButton{
	z-index:2;
	position: fixed;
	display: none;
	color: black;
	bottom: 1%;
	  right: 2%;
	  transition:all 0.3s;
	  opacity:0.3;
  &:hover,&:active,&:focus,&:visited{
  	color: #000000;
  	transform:scale(1.3);
  	opacity:1;
  }
	i{
		font-size: 30px;
		&:hover{
			
		}
	}
}

//END hidden div for scrolling
//Menu
.headerMenu li button{
    text-transform: uppercase;
    font-family: CenturyGothicRegular;
    color: #8b8383;
    font-size: 18px;
    line-height: 12px;
    transition: all 0.7s;
    border:none;
    outline:0;
    background-color: transparent;
    padding: 0;
}
.headerMenu:after{
	content:'';
	display:block;
	clear: both;
}
.headerMenu{
	 margin-right: 15px;
   display: inline-block;
}
.headerMenu li{
	float: left;
	margin-left: 15px;
	a{
		display: inline-block;
		text-transform: uppercase;
		font-family: $familyRegular;
		color: $menuHeaderColor;
		font-size: 18px;
		line-height: 12px;
		transition: all 0.7s;
	}
}

.headerMenu li a:hover{
	text-decoration: none;
	color: black;
	transform:scale(0.85);
}
.headerMenu li a:focus{
	outline:0;
	text-decoration: none;
}

/* .dropLanguage{
	position: relative;
} */
.headerMenu .dropLanguage:hover{
transform:scale(1);
}
#langDrop a:hover{
	transform:scale(1);
	cursor:pointer;
}
.fa-caret-down{
	position: absolute;
	right: -14px;
  	top: 13px;
}
.menu{
	line-height: 47px;
	float: right;
}
.logoHeader{
	margin-top: 36px;
	margin-bottom: 40px;
}
#langDrop{
		z-index:1;
		left: -50px;
    background-color: #F4F1F1;
    position: absolute;
    color: white;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    top: 70%;
    width: 100px;
    display: none;
    transition: all 0.7s;
}
#langDrop a:before,#langDrop a:before{
	content:'';
}
.show {display:block;}
#langDrop a:hover{
	background-color: #F4F1F1;
  color: black;
}
.liDropLanguage {
	position:relative;
}
//Для дропдавн
.dropdown-content {
    display: none;
    position: absolute;
}
.show {display:block;}
.dropdown {
    position: relative;
}
//Для дропдавн
//responsive nav



//ENDresponsive nav

//Animated button
.containerButton {
    display: none;
    cursor: pointer;
}
@media(max-width: 768px){
	.containerButton{
		display: inline-block;
	}
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
//END Animated button 
// Menu end

//1 token - 0,7 USD block
.blockRegistration{
	background-color: $bgColorWhite;
	padding: 40px 45px 33px 113px;
	box-shadow: -6px -6px 20px 0px #E6E2E3, 6px 6px 20px 0px #E6E2E3;
}
.oneToken07USD{
	font-family: $familyRegular;
	font-size: 30px;
	color:$colorBlack;
	text-align: center;
	margin-bottom: 39px;
}
.soldTockens > div{
	display: inline-block;
}
.soldTockens h2{
	font-size: 70px;
	font-family: $familyBold;
	color: $colorBlack;
	text-align: center;
}
.soldTockens p{
	color: #7f7f7f;
	font-size: 20px;
	font-family: $familyRegular;
	margin-bottom: 40px;
	text-align: center;
}
.buttonsBuyBitcoin{
	
}
.buttonsBuyBitcoin p{
	text-align: right;
	margin-bottom: 20px;
}
.buttonsBuyBitcoin a{
	text-decoration: underline;
	color: black;
   background-color: #11B5E4;
   display: inline-block;
   max-width:205px;
   width:100%;
   max-height:50px;
   text-align: center;
   line-height: 50px;
   font-family: $familyBold;
   font-size: 15px;
   margin-left: 20px;
   box-shadow: 2px 2px 3px #D5D5D5, -2px -2px 3px #D5D5D5;
   transition: all 0.3s;

}
.buttonsBuyBitcoin a:hover{
	background-color: #FED800;
	color: #fff;
	text-decoration: none;
}
a.registration{
	background-color: #FED800;
}
a.registration:hover{
	background-color: #11B5E4;
}
.chatInTelegram i{
	color: #11B5E4;
	margin-right: 10px;
  font-size: 40px;
}
.chatInTelegram{
	align-items: center;
  display: flex;
}
.chatInTelegram a{
	font-family: $familyBold;
	color: $colorBlack;
	font-size: 20px;
	text-decoration: underline;
}
.weInSocial p{
	text-align: left;
	color: #7f7f7f;
	font-size: 15px;
	font-family: $familyRegular;
	margin-bottom: 8px;
}
.weInSocial a{
	display:flex;
	justify-content:center;
	align-items:center;
	width: 44px;
	height: 44px;
	background-color: $colorBlack;
	margin-right: 12px;
	border-radius: 50%;
	i{
		color:#fff;
		font-size: 32px;
	}
}
.weInSocial a:hover{
	text-decoration: none;
}
.weInSocial div{
	display:flex;
}
.rowWeInSocial{
	  margin-top: 68px;
    padding-left: 70px;
    display: flex;
    align-items: flex-end;
}
// End 1 token - 0,7 USD block
//About US
.aboutUs{
	margin-bottom: 200px;
	padding-right:45px;
}

.aboutUs h1,.video h1, .documents h1, .ourTeam h1,.roadMap h1,.news h1{
	text-align: right;
	font-size: 30px;
	color:$colorBlack;
	font-family: $familyBold;
	text-transform: uppercase;
	margin-bottom: 68px;
	margin-top: 68px;
}
.aboutUs p{
	font-family: $familyRegular;
	font-size: 28px;
	color:$colorBlack;
	line-height: 32px;
	text-align: right;
}
//END About US
//Video
.colMdVideo{
	text-align: center;
	a{
		display: inline-block;
	}
}
.video,.documents{
margin-bottom: 100px;
padding-right:45px;
}
.owl-carousel p{
font-size: 22px;
font-family: $familyRegular;
color: $colorBlack;
line-height: 30px;
padding-top: 37px;
}
.rowBlockCarousel{
padding: 0 50px;
}
.rowBlockCarousel img{
max-width: 430px;
width: 100%;
&:hover{
	cursor: pointer;
}
}
#firstCarousel .owl-next{
position: absolute;
  top: 25%;
  right: -1%;
  color: black;
  font-size: 70px;
  background: no-repeat;
}
#firstCarousel .owl-prev{
position: absolute;
  top: 25%;
  left: -1%;
  color: black;
  font-size: 70px;
  background: no-repeat;
}
//стили для плагина 
#html5-watermark {
  display:none !important;
  
}

.lightboxcontainer {
width:100%;
text-align:left;
}
.lightboxleft {
width: 40%;
float:left;
}
.lightboxright {
width: 60%;
float:left;
}
.lightboxright iframe {
min-height: 390px;
}
.divtext {
margin: 36px;
}
@media (max-width: 800px) {
.lightboxleft {
  width: 100%;
}
.lightboxright {
  width: 100%;
}
.divtext {
  margin: 12px;
}
}
//стили для плагина 

// END Video

//PochemuMu
.whyWe{
	margin-bottom: 60px;
	display: flex;
}
.whyWe div{
	box-shadow: 1px 1px 10px grey, -1px -1px 10px grey;
	padding:28px 33px 40px 8px;
	position: relative;
	background-color: $bgColorWhite;
	margin:5px;
	width:24%;
	transition: all 0.5s;
}
.whyWe div:hover{
	transform:scale(0.97);
}
.blueBall{
	border-radius:50%;
	position: absolute;
	top:-25%;
	right:15px;
}
.whyWe div h3{
	font-family: $familyBold;
	font-size: 22px;
	color: $colorBlack;
	margin-bottom: 45px;
}
.whyWe div p{
	font-family: $familyRegular;
	font-size: 16px;
	color: $colorBlack;
	line-height: 18px;
}
//END PochemuMu
// Documents
.firstDownload{
	margin-bottom: 17px;
}
.firstDownload a {
	display: inline-block;
	margin-right: 17px;
	box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
    font-family: $familyRegular;
    font-size: 21px;
    color: #010000;
    padding: 20px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.secondDownload a{
	display: inline-block;
	margin-right: 17px;
	box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
    font-family: $familyRegular;
    font-size: 21px;
    color: #010000;
    padding: 20px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.textDocuments p{
	font-family: $familyRegular;
	font-size: 22px;
	line-height: 30px;
	color: $colorBlack;
	text-align: right;
}
// END Documents
//OUR Team
.ourTeam {
	padding-right: 45px;
}
.ourTeamPhoto div.mainInnerDiv{
	float: right;
	padding: 18px;
	background-color: #E4E3DF;
	background:transparent url('../img/team.gif') left top no-repeat;
	margin-left: 36px; 
	margin-bottom: 35px;
	height: 484px;
	max-width: 351px;
	width: 100%;
	position: relative;
}
div.innerDiv{
		display: block;
	  position: absolute;
		top: 0;
    left: 0;
    padding: 26px 22px 22px 22px;
    margin: 21px;
    background-color: #fff;
    opacity: 0.8;
    bottom: 0;
    opacity:0;
    transition: all 0.9s;
}
div.innerDiv:last-child{
	margin-left: 21px;
}
.mainInnerDiv:hover div.innerDiv{
	opacity:0.8;
} 
div.innerDiv h3{
	font-family: $familyBold;
	font-size: 30px;
	color: $colorBlack;
	margin-bottom: 57px;
	text-transform: uppercase;
}
div.innerDiv p{
	font-family: $familyRegular;
	font-size: 18px;
	color: $colorBlack;
	line-height: 20px;
}
.ourTeamPhoto div.portet:last-child{
	margin-left: 0;
}
//END OUR Team
//Road MAP
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.containers h3{
		font-family: $familyBold;
		color: $colorBlack;
		font-size: 18px;
		line-height: 12px;
		margin-bottom: 23px;
		padding-left:22px;
		text-transform: uppercase;
}
.containers p{
	font-family: $familyRegular;
	font-size: 16px;
	line-height: 18px;
	color: $colorBlack;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: black;
    top: 22px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.containers {
    border-radius: 10px;
    box-shadow: 1px 1px 11px grey, -1px -1px 11px grey;
    margin-left: 57px;
    max-width: 372px;
    position: relative;
    background-color: inherit; 
}

.containers::after {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    right: -74px;
    background-color: black;
    top: -8px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}

.right {
    left: 50%;
}
.right::after {
    left: -76px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


@media all and (max-width: 1199px){
	.right{
		left:52%;
	}
	.left {
    left: -2%;
}
.timeline::after{
	  left: 55%
}
.right::after {
    left: -52px;
}
.containers::after{
	  right: -46px;
}


}
// END Roand MAP
//NEWS
.popup-with-zoom-anim:focus{
	outline:0;
}
#small-dialog {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 75%;
	position: fixed;
	top:15%;
	left:0;
	right:0;
	margin: 0 auto;
	h1{
		font-family: $familyBold;
		font-size: 28px;
		margin-bottom: 15px;
	}
	p{
		font-family: $familyRegular;
		font-size: 14px;
	}
}
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.news{
	margin-bottom: 100px;
	margin-right: 25px;
}
.newsBlock div{
	max-width:350px;
	float:right;
	margin-left:26px;
	box-shadow: 1px 1px 7px grey, -1px -1px 7px grey;
}
.newsBlock img:hover{
	cursor:pointer;
}
.newsBlock div:last-child{
	margin-left:0;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.5s ease-out; 
	-moz-transition: all 0.5s ease-out; 
	-o-transition: all 0.5s ease-out; 
	transition: all 0.5s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

//END NEWS
//FOOter
.footerRight{
	float: right;
	text-align: right;
	.weInSocial{
		display: inline-block;
		margin-bottom: 60px;
	}
}
.weInSocial p{
	text-align: left;
  padding-left: 15px;
}
.weInSocial a{
	margin-right:0;
	margin-left: 12px;
}
.footerLeft h3{
	font-family: $familyBold;
	font-size: 30px;
	line-height: 25px;
	color: $colorBlack;
	margin-bottom: 47px;
}
.footerLeft button{
	min-width:425px;
	background-color: #07BAEE;
	color:white;
	font-family: $familyBold;
	font-size: 30px;
	padding: 26px;
	text-align: center;
	border-radius:8px;
	transition:all 0.3s;
	&:active,&:focus{
		transform: scale(0.99);
	    outline: 0;
	    border: 0;
	}
}
.footerLeft button:hover{
background-color: #FED800;
}
.allRightsResorved p{
	color: #8b8383;
	font-family: $familyRegular;
	font-size: 18px;
}
.containerFooter{
	margin-bottom: 100px;
}
//END Footer
//ModalRegistration
.mainModalRegisration{
	display: none;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalRegistration{
	box-shadow: 4px 4px 18px #B3B3B3,-4px -4px 18px #B3B3B3;
	position: fixed;
	max-width:788px;
	width:100%;
	padding: 55px 5% 73px 6.5%;
	z-index:3;
	margin: auto;
	left:0;
	right:0;
	background-color: #F4F1F1;

}
.modalRegistration span{
	position: absolute;
	top:5px;
	right:5px;
	width: 30px;
	height: 30px;
	background: url("../img/close.gif") no-repeat;
	transition: all 0.4s;
}
.modalRegistration span:hover{
	 transform: scale(1.1);
}
.modalRegistration span:active{
	transform: scale(0.9);
}
.modalRegistration span:hover{
	cursor:pointer;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: #f1f1f1;
    margin-bottom: 19px;
}
.tab a{
	font-family: $familyRegular;
	font-size: 24px;
	text-transform: uppercase;
	color: #848484;
	margin-bottom: 19px;
}
.tab a:hover{
	cursor:pointer;
	text-decoration: none;
	color:black;
}
.tab a:active{
	cursor:pointer;
	text-decoration: none;
	color:black;
}
.tab a.active{
	color:black;
}

.tab .aLeft{
	display: inline-block;
	float:left;
	margin-left: 30px;
}
.tab .aRight{
	display: inline-block;
	float:right;
	margin-right: 30px;
}

.tabcontent {
    display: none;
}
.formAutorisation input, .formRegistration input{
    width: 100%;
    border-radius: 6px;
    border: 0;
    padding: 14px 25px;
    margin-bottom: 17px;
    outline: 0;
    color: #848484;
    font-family: $familyRegular;
}
.enter,a.censel{
    padding: 13px 0;
    box-shadow: 0 0 9px grey;
    max-width: 266px;
    background-color: #11B5E4;
    border: 0;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: $familyRegular;
    transition: all 0.4s;
}
.enter:hover{
	background-color: #FED800;
	color:black;
}
a.censel:hover{
	background-color: #FED800;
	color:black;
}
a.censel{
display: inline-block;
&:hover{
	text-decoration: none;
}
}
.forgottPassword{
	display: inline-block;
	margin-bottom: 15px;
	font-size: 16px;
	font-family: $familyRegular;
}
.buttEnterCansel{
	display: flex;
  justify-content: space-between;
}
//END ModalRegistration
/////////////New modal

///////////////END new modal
//////////////////Медиа
/////////////////////Media
@media(max-width:1199px){
	//Наша команда
.ourTeamPhoto div.mainInnerDiv{
    background: transparent url(../img/team.gif) center no-repeat;
    background-size: 100%;
    margin-left: 31px;
    margin-bottom: 35px;
    height: 374px;
    max-width: 277px;
    width: 100%;
}

div.innerDiv h3 {
    font-size: 27px;
    margin-bottom: 57px;
}
div.innerDiv p {
    font-size: 15px;
    line-height: 15px;
}
	//END Наша команда
	/////Documents
.firstDownload a{
	margin-bottom: 10px;
	
}
.firstDownload{
	margin-bottom: 10px;
}
/////END Documents
//News
.newsBlock img{
	width:100%;
}
.newsBlock{
	display:flex;
	justify-content:space-around;
	div{
		max-width: 276px;
		margin-left: 0;
	}
}
.news{
	margin-right: 0;
}
//buttons buy bitcoins
.buttonsBuyBitcoin a{
	max-width:187px;
	margin-left: 10px;
}

//buttons buy bitcoins
//modal news

//END modal news
/////END NEws
}
@media(max-width:991px){
	//Модальное окно
.modalRegistration{
	left: 36px;
  right: 36px;
  width:auto;
}

	//Модальное окно
	.logoBlock{text-align: center;}
	.menu {
    width: 100%;
    line-height: 47px;
    float: none;
    text-align: center;
}
		.soldTockens{
			text-align: center;
			margin-bottom: 20px;
		}
		.chatInTelegram{
			justify-content:center;
		}
		.buttonsBuyBitcoin p{
			text-align: center;
    	margin-bottom: 15px;
		}
		.buttonsBuyBitcoin a{
			margin-left: 10px;
			&:first-child{
				margin-left: 0;
			}
		}
		.rowWeInSocial{
			margin-top: 25px;
			display: block;
			padding-left: 0;
		}
		.weInSocial p{
			text-align: center;
			padding-left: 0;
		}
		.weInSocial div {
    justify-content: center;
    display: flex;
}
	.weInSocial{
		margin-bottom: 12px;
	}
	.rowWeInSocial div.col-md-3{
		text-align: center;
	}
	.aboutUs h1, .video h1, .documents h1, .ourTeam h1, .roadMap h1, .news h1{
		margin-top: 26px;
		margin-bottom: 26px;
	}
	.aboutUs{
		padding: 0 10px 0 10px;
	}
	.aboutUs p{
		font-size: 18px;
		text-align: center;
	}
	.video, .documents{
		padding-right: 0;
		padding: 0 10px 0 10px;
	}
	.owl-carousel p{
		font-size: 16px;
		line-height: 16px;
		padding-top: 0;
	}
	#firstCarousel .owl-prev,#firstCarousel .owl-next{
		top:18%;
	}
	.rowBlockCarousel{
		display: flex;
    align-items: center;
	}
	//Почему мы
.whyWe {
		display: block;
    margin-bottom: 0px;
}
.whyWe div {
    margin: 5px 5px 68px 5px;
    width: 48%;
}
	//END Почему мы
//Наша команда
.ourTeam{
	padding-right: 0;
	padding: 0 10px;
}
.ourTeamPhoto div.mainInnerDiv{
	float: none;
	margin-left: 0;
	margin: 0 auto;
	margin-bottom: 20px;

}
//END Наша команда
///// Road map
.roadMap{
	padding:0 10px;
}
.containers {
    margin-left: 49px;
    max-width: 260px;
}
.containers::after {
    right: -33%;
}
.right::after {
    left: -31.5%;
}
.timeline::after {
    left: 50%;
}
////News
.news{
	padding: 0 10px;
	margin-bottom: 0;
}
.newsBlock{
	  display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    div{
    	max-width:229px;
   		margin-left: 10px;
   		&:last-child{
   			margin-left: 10px;
   		}
    }
}
.footerLeft{
	text-align: center;
	margin-bottom: 20px;
}
.footerRight{
	text-align: center;
}

/* END NEWS */

////////End Road map 
//documents
.textDocuments p{
	margin-top: 20px;
	text-align: left;
}
.documents{
	margin-bottom: 50px;
}

//End documents
}

@media(max-width:768px){
//button up
.scrollButton i{
	font-size: 17px;
}
//Топ меню
.headerMenu1 li:not(.liDropLanguage){
	display: none;
}
.liDropLanguage .fa-caret-down{
	left:27px;
	top:14px;
}
#langDrop{
    max-width: 50px;
    left: -12px;
    top: 64%;
    padding: 0;
    z-index: 1;
a:hover{
	background-color: #A3A1A1;
	color:white;
}
}

.headerMenu{
	margin-left: 0;
	margin-right: 0;
	display: block;
	position: relative;
	background-color: #F4F1F1;
	padding: 0 10px;
}
.headerMenu li{
	margin-left: 0;
	float: none;
	text-align: left;
}
.showHiddenMenu{
	display: block;
}
.containerButton{
	position: absolute;
	top: 0;
	right: 20px;

} 

.headerMenu li a{
	display: block;
	padding:13px 0;
}

.headerMenu li a:hover{
	color: black;
	transform:scale(0.97);
}
.headerMenu li{margin-bottom: 5px;}
//END Топ меню
//Modal
.tab .aLeft {
	display: block;
	float: none;
	margin-left: 0;
  text-align: center;
}
.tab a{
	font-size: 16px;
}
.modalRegistration span{
	background-size:70%;
	top: 2px;
  right: -5px;
}
.tab .aRight {
    display: block;
		float: none;
		margin-right: 0;
    text-align: center;
}
.modalRegistration{
	padding-top: 14px;
	//Modal
}
.logoHeader {
    margin-top: 10px;
    margin-bottom: 10px;
}
.enter, a.censel{
	line-height: 30px;
}
.enter{
	margin-right: 13px;
}
.newsBlock{
		flex-flow: column;
    justify-content: center;
    align-items: center;	
}
.newsBlock div {
    margin-bottom: 25px;
    max-width: 300px;
    margin-left: 0;
}
.footerLeft button{
	min-width: 280px;
	font-size: 27px;
	padding:14px;
}
/////////////////////////////Road Map
.timeline::after {
    left: 27px;
}
.right {
    left: 0;
    margin-bottom: 25px;
    margin-left: 57px;
    max-width: 529px;
}
.left {
    left: 0;
    max-width: 529px;
    margin-left: 57px;
    margin-bottom: 25px;
}
.right::after,.left::after {
    left: -49px;
}
/////////////////////////////Road Map
//News Modal
#small-dialog{
	max-width: 75%;
}
///End News modal
//Наша команда
.ourTeamPhoto div.mainInnerDiv{
    max-width: 351px;
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}
div.innerDiv {
    right: 14px;
    top: 16px;
    left: 16px;
    bottom: 16px;
    margin:0;
}
div.innerDiv h3{
	margin-bottom: 20px;
}
div.innerDiv:last-child{
	margin-left: 0;
}
//Наша команда
//Почему мы

//Почему мы
.whyWe{
display: flex;
flex-flow: column;
align-items: center;
padding:0 25px;	
div{
	max-width:600px;
	width:100%;
	margin-bottom: 60px;
}
}
.blockRegistration{
	padding: 0;
}
.secondDownload a{
	margin-bottom: 10px;
}
.owl-carousel p{
	  font-size: 16px;
    line-height: 16px;
    padding: 0 5px;
}
.rowBlockCarousel{
	padding: 0 30px;
}
#firstCarousel .owl-prev{
	font-size: 50px;
	left:-0%;
}
#firstCarousel .owl-next{
	font-size: 50px;
	right:0%;
}
#firstCarousel .owl-prev, #firstCarousel .owl-next {
    top: 27%;
}

}//Media end

@media(max-width:500px){
	.scrollButton i{
	font-size: 17px;
}
	.owl-carousel p{
		font-size: 12px;
		line-height: 11px;
		max-height: 110px;
		overflow:hidden;
	}
	#firstCarousel .owl-prev, #firstCarousel .owl-next {
    top: 28%;
    font-size: 36px;
}
.newsBlock div:last-child {
    margin-left: 0;
}
.footerLeft button {
	min-width:auto;
    max-width: 237px;
    font-size: 20px;
    padding: 12px;
    width: 100%;
}
.logoBlock{
	margin-bottom: 10px;
}
.whyWe div {
    max-width: 600px;
    width: 100%;
    margin-bottom: 70px;
}
.buttonsBuyBitcoin p{
	margin-bottom: 0;
}
.buttonsBuyBitcoin p a{
	margin-bottom: 15px;
	margin-left: 0;
}
.soldTockens h2{
	font-size: 54px;
}
.soldTockens p{
	font-size: 16px;
}
.enter {
    margin-right: 10px;
}
.enter, a.censel {
    line-height: 25px;
    font-size: 13px;
}

}
//////////////////// END Media
