@import "_fonts.scss";
@import "_variables.scss";
@import "style.scss";
/* Style the tab */
body{
	background-color: #F3F1F1;
	background-image: none;
}
.blocksPersonalDate {
    display: flex;
    border-top: 1px solid black;
    background-color: #f1f1f1;
    justify-content: space-around;
    margin-bottom: 50px;
}

/* Style the buttons inside the tab */
.blocksPersonalDate button {
	max-width: 350px;
	width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 17px;
    color: #777777;
    outline: 0;
    border-bottom: 1px solid #777777;
    font-family: $familyRegular;
}

/* Change background color of buttons on hover */
.blocksPersonalDate button:hover {
    color: black;
    border-bottom:1px solid black;
}

/* Create an active/current tablink class */
.blocksPersonalDate button.activeBlock {
    color: black;
    border-bottom:1px solid black;
}

/* Style the tab content */
.blocksPersonal {
    display: none;
    border-top: none;
}
.mainUserBlock{
	padding: 0 15px;
    margin-bottom: 70px;
    font-family: $familyRegular;
    > .row{
    	margin-bottom: 15px;
    	> div h1{
    		margin-top: 20px;
    	}
    }
}
.coins{
	display: flex;
    float: right;
    flex-direction: row-reverse;
}
.col-md-coins{
    overflow: hidden;
}
.nickName{
	font-size: 36px;
	font-family: $familyRegular;
	color: #000000;
}
.colichestvoMonet{
	margin-right: 15px;
	> p{
	margin-bottom: 10px;
    font-size: 18px;
    color: #777777;
	}
	.coinsCount{
	font-size: 36px;
    color: #000000;
	}
}

// History of пополнений
.tableHistoryOfPopolneniy{
	flex: 16px;
	font-family: $familyRegular;
	width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    tr{
    	border-bottom:1px solid black;
    	td:first-child{
    		width:8%;
    	}
    	td{	
    		padding: 10px 0;
    		text-align: center;
    		vertical-align: middle;
    	}
    }
}
.tdDone{
	color: #2DB42D;
}
.tdAwaiting{
	color: #FE3A16;
}
.tableHistoryOfPopolneniy tr td{
    border-top: none;
}
// END History of пополнений
//Personal dates
.blocksPersonal p{
    overflow: hidden;
	font-family: $familyRegular;
	font-size: 18px;
	color: #000;
	margin-bottom: 15px;
	margin-top: 30px;
	text-align: center;
}
.formPersonalDate{
	text-align: center;
}
.mainPersonalDate{
	max-width: 356px;
	margin:0 auto;
	input{
		display: block;
		width: 100%;
		margin-bottom: 27px;
		padding: 16px 30px;
		color: #777777;
		font-size: 18px;
		font-family: $familyRegular;
		border-radius: 10px;
		border: none;
		outline: 0;
		background-color: #F3F1F1;
		box-shadow: 0 0 8px 4px #D2D0D0;
		&:active,&:focus{
			box-shadow: 0 0 19px 0px black;
		}

	}
}
.inputsPassword input{
	display: block;
}
.changeButtonPerDate{
    box-shadow: 0 0 12px 1px #CAC7C7;
    border: none;
    border-radius: 8px;
    background-color: #07BAEE;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 100%;
    transition: all 0.3s;
    &:hover{
        background-color: #F3CF00;
    }
    &:focus{
        outline:0;
    }
}
// END Personal dates
//Пополнить счет
.blocksPersonal{
    max-width: 737px;
    width: 100%;
    margin: 0 auto;
}
.number{
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 6px 7.7px;
    font-size: 16px;
    margin-right: 6px;
}
.mainPopolnitSchot{
    .firstRow,.secondRow,.therdRow{
        overflow: hidden;
        margin-bottom: 30px;
        p {
           text-align: left;
           font-size: 11px;
            line-height: 12px;
            color:$colorBlack; 
        }
    }
    .flLeft{
        width:100%;
        float: left;
        max-width: 362px;
        padding: 0 5px;
    }
    .flRight{
        float: right;
        max-width: 362px;
        padding: 0 5px;
    }
}
.secondRow .flRight{
  max-width: 362px;
  width: 100%;  
}
.mainPopolnitSchot input,.mainPopolnitSchot select{
    margin-bottom: 5px;
    display: inline-block;
    height: 52px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 0 16px;
    box-shadow: 0 0 12px 1px #CAC7C7;
    &:focus{
        outline:0;
    }
}
.mainPopolnitSchot select{
    appearance:none;
    -webkit-appearance: none;
    position: relative;
    background: url('../img/select.gif') no-repeat;
    background-position: right 12px top 21px;
    background-color: #fff;
}
.buSendpopolnitschet{
    margin-top: 4px;
    box-shadow: 0 0 12px 1px #CAC7C7;
    border: none;
    border-radius: 8px;
    background-color: #07BAEE;
    display: inline-block;
    padding:15px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    max-width: 252px;
    width: 100%;
    transition: all 0.3s;
    &:hover{
        background-color: #FED800;
    }
    &:focus{
        outline:0;
    }
}
//END Пополнить счет
//Start Media
@media(max-width: 991px){
.mainPopolnitSchot .flLeft{
    float: none;
    margin: 0 auto;
}
.mainPopolnitSchot .flRight{
    float: none;
    margin: 0 auto;
}
.mainPopolnitSchot .secondRow, .mainPopolnitSchot .therdRow {
    overflow: hidden;
    margin-bottom: 0;
}
.mainPopolnitSchot .firstRow, .mainPopolnitSchot .secondRow, .mainPopolnitSchot .therdRow{
    margin-bottom: 0;
}
}
@media(max-width: 767px){
.table-responsive{
    border:none;
}
.mainPopolnitSchot .firstRow, .mainPopolnitSchot .secondRow, .mainPopolnitSchot .therdRow{
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
}
.mainPopolnitSchot form{
    max-width: 354px;
    width: 100%;
    margin: 0 auto; 
}
.mainUserBlock > div > div{
    text-align: center;
    margin-bottom: 30px;
}
.col-md-coins{
    display:flex;
    justify-content: center;
}
}
@media(max-width:459px){
    .blocksPersonalDate button{
        font-size: 17px;
    }
    .blocksPersonalDate{
        display: flex;
        flex-flow: column;
    }
    .blocksPersonalDate button{
        width: 100%;
        max-width: 100%;
    }
}
//END Media