@font-face{
	font-family: "PT-Bold";
	src:url("../libs/fonts/bold.ttf");
	font-style: normal;
	font-weight: bold;
}
@font-face{
	font-family: "PT-Regular";
	src:url("../libs/fonts/regular.ttf");
	font-style: normal;
	font-weight: normal;
}