@font-face{
	font-family: "Roboto-light";
	src:url("../fonts/Roboto-light.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Roboto-regular";
	src:url("../fonts/Roboto-light.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Roboto-thin";
	src:url("../fonts/Roboto-thin.ttf");
	font-style: normal;
	font-weight: normal;
}
