$navColor: #494949;
$activeNavColor: #637ab4;
$headerBorderColor: #DADADA;
$h1color: #000000;
$inputBorderColor: #F2F2F2;
$inputColor: #c8c8c8;
$dropdownListolor: #435993;
$hoverDrpdListBg: #848B96;
$hoverDrpdListColor: #fff;
$activeInputBorder: orangered;
$borderColorCheckbox:#345996;
