@import "_fonts.scss";
$PT-regular: PT-Regular;
$PT-bold: PT-Bold;
$bgColor: #FCFCFC;
$menuHeaderColor: #000;
$headKartkaColor:#B11116;
$katalogTovDefaultColor:#B11116;
$colorTabs:#FFFFFF;
$colTasHover:#000;
//Road Map
