@import 'style.scss';
.headeKartka h1{
	color: $headKartkaColor;
	text-transform: uppercase;
	font-size: 91px;
	font-family: $PT-bold;
}
.headingSection{
	background: rgba(255,255,255,0.9);
}
.headerNews h1{background-color: transparent;}
.backTo{
	  padding-bottom: 15px;
}
.backTo{
	text-align: right;
	a{
		display: inline-block;
		background-color: #AF0917;
		font-size: 33px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		transition:all 0.3s;
		padding: 13px 23px;
		span{
			display: inline-block;
			margin-right: 15px;
		}
		&:hover{
			background-color: #000;
		}
	}
}
/////////////////////tans three blocks
/* Style the tab */
.discItems{
	background-color: #fff;
	padding-top: 25px;
}
.tab {
    display: flex;
    overflow: hidden;
    margin-bottom: 28px;
    justify-content: space-between;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: $katalogTovDefaultColor;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    display: inline-block;
    text-align: center;
    color: $colorTabs;
    font-size: 40px;
    transition: 0.3s;
    max-width: 518px;
    width: 100%;
   	font-family: $PT-regular;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: $colTasHover;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: $colTasHover;
}

/* Style the tab content */
.tabcontent{
	display:flex;
}
.tabcontent {
    display: none;
}
.infoAboutProduct p{
	font-size: 40px;
}
.infSises{
	color: #262626;
	font-size: 40px;
	border-bottom: 2px solid #B41A1F;
	margin-bottom: 25px;
	font-weight: bold;
	padding: 0 0 15px 16px;
}


.usingFor .carForUsin{
	text-transform: uppercase;
}
.wrapTabContent{
	display:flex;
	justify-content: space-between;
}
.infoAboutProduct{
	display: flex;
    max-width: 518px;
    width: 100%;
    flex-direction: column;

}
.wrapContentKatalog{
	display: flex;
	flex-direction: column;
}
.usingFor{
	display: flex;
    margin-top: auto;
    flex-direction: column;
    padding: 0 15px;
}
.ingPridImg{
	text-align: center;
	img{
		max-width: 100%;
	}
}
.wrapContentKatalog{
	padding: 0 15px;
}
.sisesOfProduct{
	font-weight: bold;
    font-size: 40px;
    border-spacing: 10px;
    width: 100%;
}
.modelCar{
	font-size: 46px;
	font-weight: bold;
	color: #b11116;
	border:1px colid #C9C9C9;
	padding: 20px 0 20px 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	border:1px solid #CFCFCF;
	box-shadow: 0 0 8px #ACACAC;
}
.legendWram h4{
	line-height: 49px;
	display: block;
    width: 100%;
	padding: 5px 20px;
	height: 68px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	appearance:none;
	box-shadow: 0 0 8px #ACACAC;
	cursor:pointer;
	background: #fff;
}
.legendWram{
	margin-bottom: 36px;
	margin-left: 96px;
}
.tableKartka{
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	border-spacing: 0px 22px;
    border-collapse: separate;
}
.headerTable th{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 0 !important;
	border-bottom:none !important;
}
.tableKartka tbody tr{
	background-color: #EBEBEB;
	border: 1px solid #DBDBDB;
}
.tableKartka tbody tr:after{
	content:'';
	display: table-row;
	width: 100%;
	background-color: #fff;
}
.tableKartka tbody{

}
.tableWrapLegend{
	margin-left: 184px;
}
.modelCarBottom{
	font-size: 46px;
	font-weight: bold;
	color: #000;
	border:1px colid #C9C9C9;
	padding: 20px 0 20px 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	border:1px solid #CFCFCF;
	box-shadow: 0 0 8px #ACACAC;
	cursor:pointer;
	background: url('../img/selectDown.gif') no-repeat 99% 50%;
}	
.wrapAnalogSelect{
	margin-bottom: 44px;
}
.analogSelect{
	display: block;
    width: 100%;
	background-color: #EBEBEB;
	text-transform: uppercase;
	padding: 0 20px;
	height: 68px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	appearance:none;
	background: url('../img/selectDown.gif') no-repeat 99% 50%;
	box-shadow: 0 0 8px #ACACAC;
}
ul.ulList{
	list-style-type: disc;
    list-style-position: inside;
    font-size: 40px;
    font-family: $PT-regular;
    font-weight: normal;
    li{
    	margin-bottom: 15px;
    }
}
.Wraplist{
	padding-left: 70px;
	margin-bottom: 300px;
}
///////////////////end tabs three blocks
@media(max-width: 991px){
	.legendWram h4{
		font-size: 26px;
		height: 40px;
		line-height: 29px;
	}
	.legendWram,.tableWrapLegend{margin-left: 0;}
	.backTo a{
		font-size: 26px;
		padding: 10px 18px;
	}
	.tab button{
		font-size: 26px;
		padding: 10px 0;
	}
	.infSises,.infoAboutProduct p,
	.sisesOfProduct,.modelCar,.legendSelect,
	.modelCarBottom,.analogSelect,
	ul.ulList {font-size: 26px;}
	.tableKartka{font-size: 18px;}
	.analogSelect,.legendSelect{height: 40px;}
	.Wraplist{padding-left: 10px;}
	.modelCar,.modelCarBottom{padding: 10px 0 10px 20px;}
}//end media
@media(max-width: 768px){
	.tab{flex-wrap: wrap;}
	.tab button{
		display: block;
		width: 100%;
		max-width: 100%;
		float: none;
	}
	.tableWrapLegend{margin-left: 0;}
	.legendWram{margin-left: 0;}
	.wrapTabContent{flex-wrap: wrap;}
	.infoAboutProduct{max-width: 100%;}
	.infSises{
		text-indent: 0;
		text-align: center;
	}
	tr.headerTable th{
		font-size: 15px;
		padding: 0 4px;
	}
	.backTo a {
    font-size: 16px;
    padding: 6px 12px;
}

}//end media
@media(max-width: 991px){}//end media
.tableWrapLegend{display: none;}
.activePreTitleAcordion{
	display: block;
}
.activeTexcAcordion{
display: block;
}
.hideBlock{
	display: none;
}