@import "style.scss";
.wrapLastNews{
	padding-left: 38px;
    border-left: 1px solid black;
}
.wrapHeaderPageNews{
	background: rgba(252, 252, 252, 0.8);
}
.topmenuAndroid ul li .activeLink{
	background-color: #AF0917;
	color: #fff;
}
//LEFT BLOCK
.rowSliderWram{
	margin-bottom: 38px;
}
.newsSliderWrap p{
	color: #000;
	font-size: 26px;
	margin-bottom: 33px;
}
.newsSliderWrap p:last-child{
	margin-bottom: 0;
}
.lastNewsContImg img{
	max-width: 216px;
	width: 100%;
}
.imgPageNews img{
	max-width: 618px;
	width: 100%;
	max-height: 464px;
}
.headersPageOfNews h3{
	color: #b11116;
	font-size: 60px;
	line-height: 60px;
	font-family: $PT-bold;
}
p.preHeader{
	color: #000;
	font-size: 36px;
	line-height: 33px;
	margin-bottom: 50px;
}

#olwPageOfNews .owl-nav{
	overflow: hidden;
}
#olwPageOfNews .owl-prev,#olwPageOfNews .owl-next{
	text-transform: uppercase;
    color: #FFF;
    font-size: 33px;
    margin: 5px;
    padding: 4px 7px;
    background: #AF0917;
    display: inline-block;
    cursor: pointer;
}
#olwPageOfNews .owl-prev{
	float: left;
}
#olwPageOfNews .owl-prev:hover,#olwPageOfNews .owl-next:hover{
	background-color: #000;
}
#olwPageOfNews .owl-next{
	float: right;
}
.autonewsBG{
	background-color: #F7F7F7;
}
///END LEFT BLOCK
//right block
.rightItemCarousel{
	overflow: hidden;
}
.rightItemCarousel img{
	float: left;
	margin-right: 20px;
	max-width: 216px;
	width: 100%;

}
.rightItemCarousel h3{
	color: #000;
	font-size: 40px;
	margin-bottom: 14px;
}
.wrapLastNews img{
	max-width: 216px;
	width: 100%;
}
///END right block

//left block
.verticalCarousel{
	margin: 0;
}


//END left block