@import "style.scss";
.wrapPodborMarcAuto{
	 background: rgba(252, 252, 252, 0.6);
	 padding: 22px 56px;
}
.twoSelect{
	justify-content: space-between;
    display: flex;
	padding-bottom: 50px;
}
.mainWrapSelect{
	width: 100%;
	max-width: 711px;
	background-color: #fff;
	padding: 25px 34px;
	box-shadow: 0 0 6px black;
	h3{
		font-size: 40px;
		text-align: center;
		margin-bottom: 26px;
	}
	select{
		font-size: 34px;
		background: url('../img/select.png') no-repeat 100% 0;
		height: 56px;
		display: block;
		width: 100%;
		appearance:none;
		padding: 0 37px 0 15px;
	}
}
.mainWrapSelect:hover h3,.mainWrapSelect:active h3,
.mainWrapSelect:focus h3{
	color: #B11116;
}
.tableRata{
	max-width: 1538px;
}
.tableDatas{text-align: center;}
.tableDatas .headerTable{
	font-size: 40px;
	font-family: $PT-bold;
	border:none;
	border-top:1px solid #D58083;
	background-color: #fff;

}
.tableDatas .headerTable th{
	text-align: center;
}
.tableDatas td{
	font-size: 40px;
	font-weight: normal;
	color: #000;
}
.tableDatas tr{
	background-color: #EBEBEB;
	border:1px solid #DBDBDB;
}
.tableDatas .kodeMotor{
	font-size: 40px;
	color: #b11116;
	font-family: $PT-bold;

}
.tableDatas tbody tr:first-child{
	border-top:none;
}
.tableDatas .transparent{
	border:none;
	background-color: white;
}