/* Menu */
ul.menu-header li a.about-us{
	text-decoration: underline;
	color: #9C9580;
}
ul.menu-header li a.uslugi{
	text-decoration: none !important;
	color: black !important;
}
div.right-img-in-about-us{
	float: right;
	max-width: 350px;
	width: 100%;
	margin-left: 20px;
}
@media(max-width: 429px){
	div.right-img-in-about-us{
		float: none;
		margin-left: 0;
	}
}
.col-12-about-us{
	padding-left: 36px;
}
.col-12-about-us img{
	
}
.h2-head-about-us{
	text-indent: 17px;
	font-size: 30px;
    color: #c44949;;
    font-family: Quizaproregular;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 45px;
    line-height: normal;
}
.why-choose-us{
	text-indent: 0;
}
.col-12-about-us p{
	font-size: 14px;
    color: #000;
    line-height: 20px;
}
.h3-about-us-title{
	margin-bottom: 20px;
    font-size: 22px;
    color: #9c9580;
    text-transform: uppercase;
    font-weight: normal;
}
.h4-adress{
	display: inline-block;
	margin-bottom: 5px;
    font-size: 16px;
    color: #9c9580;
    text-transform: uppercase;
    font-weight: normal;
}
.right-img-in-about-us p{
	border: 1px solid #DCD9D5;
    border-top: 0;
    font-size: 12px;
    padding: 10px 20px;

}
.right-img-in-about-us img{
	max-width: 350px;
	width: 100%;
}
/*Модальне окно для кнопки записаться в салон */
.modal-zapisv-salon .modal-body{
	 padding: 0 78px 57px 69px;
}
span.text-form-in-index-html{
	font-size: 16px;
	font-weight: 400;
	color: #979280;
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-right:25px;
}
#select-zapis-vsalon{
	max-width: 300px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    appearance:none;
    -webkit-appearance:none;
    background: url(../img/select.png) no-repeat 100%;
}
input.zapis-v-salon-name{
	    max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-data,input.zakaz-input-time{
	    max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-procedura,input.zacaz-input-specialist, input.zacaz-input-telephone{
	    max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.button-zapisatsa{
	max-width: 253px;
	width: 100%;
	height: 50px;
	float: right;
    background: #A09680;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font: 18px EuropeC;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #D1CBC1;
}
input.button-zapisatsa:hover{
	background-color: #827A68;
}
p.p-text-indent{
	overflow: auto;
}
p.p-text-indent span{
	display: inline-block;
	margin-left: 145px;
}
@media(min-width: 991px){
	p.p-with-checkbox{
		padding-left:145px;
	}
}
@media(max-width: 991px){
	p.p-with-checkbox{
		padding-left:20px;
	}
	input.checkbox-modal-index-html{
		top: -2px !important;
		left: -5px !important;
	}

}
p.p-with-checkbox{
	position: relative;
}
input.checkbox-modal-index-html{
	    position: absolute;
    top: -2px;
    left: 99px;
    width: 20px;
    height: 20px;
}
span.text-for-margin{
	margin-left: 50px;
}
@media(max-width: 991px){
	span.text-form-in-index-html{
		display: block;
		width: 100%;
		text-align: left;
	}
	span.text-for-margin{
		margin-left: 0;
	}
	p.p-text-indent span{
		margin-left: 0;
	}
	input.button-zapisatsa{
		float: none;
	}
}

/*Модальне окно для кнопки записаться в салон */