/* Menu*/
ul.ul-up-uslugi a.a-akcia-news{
    border: 1px solid black;
}
ul.menu-header a.uslugi{
    text-decoration: none !important;
    color: black !important;
}
/* container styles*/
h3.head-akcia-h3{
	    font-size: 26px;
    color: #9c9580;
    font-family: Quiza-Regular;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 45px;
}
h3.h3-akcia-a{
	border-bottom: 2px solid #e7e7e6;
	padding-bottom: 19px;
}
.h3-akcia-a a{
	color: #585858;
    font-family: EuropeC;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px 0;
}
p.data-akcia{
	color: #9c9580;
	font-size: 16px;
	font-family: EuropeC;
}
p.details-akcia{
	text-align: right;
}
p.details-akcia span a{
	color: black;
}
.row-akcia-news{
	margin-bottom:20px;

}
hr.akcia-news-line{
	border-bottom: 1px solid #E7E7E6;
}
/* container styles*/
/* pagination*/
.page-pagination a{
    color: #262626;
    font-size: 23px;
}
.page-pagination a:hover{
    color: #9C9580;
    text-decoration: none;
}
.page-pagination a:after{
    content: '';
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 1px 0 6px;
}
.page-pagination a:last-child:after{
    content: none; 
}
p.text-p-akcia{
	font-size: 14px;
	line-height: 20px;
}
span.next-page-in-comments{
    position: relative;
}
span.next-page-in-comments a i.fa-arrow-right{
    position: absolute;
    top: 0;
    font-size: 10px !important;
    display: inline-block;
    margin-bottom: 5px;
}
.page-pagination{
    margin-bottom: 30px;
}
/* pagination*/