/* menu*/
ul.menu-header li a.comments{
    text-decoration: underline;
    color: #9C9580;
}
ul.menu-header li a.about-us{
    text-decoration: none;
}
/*Модальне окно для кнопки записаться в салон */
.modal-zapisv-salon .modal-body{
     padding: 0 78px 57px 69px;
}
span.text-form-in-index-html{
    font-size: 16px;
    font-weight: 400;
    color: #979280;
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right:25px;
}
#select-zapis-vsalon{
    max-width: 300px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    appearance:none;
    -webkit-appearance:none;
    background: url(../img/select.png) no-repeat 100%;
}
input.zapis-v-salon-name{
        max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-data,input.zakaz-input-time{
        max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-procedura,input.zacaz-input-specialist, input.zacaz-input-telephone{
        max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.button-zapisatsa{
    max-width: 253px;
    width: 100%;
    height: 50px;
    float: right;
    background: #A09680;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font: 18px EuropeC;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #D1CBC1;
}
input.button-zapisatsa:hover{
    background-color: #827A68;
}
p.p-text-indent{
    overflow: auto;
}
p.p-text-indent span{
    display: inline-block;
    margin-left: 145px;
}
@media(min-width: 991px){
    p.p-with-checkbox{
        padding-left:145px;
    }
}
@media(max-width: 991px){
    p.p-with-checkbox{
        padding-left:20px;
    }
    input.checkbox-modal-index-html{
        top: -2px !important;
        left: -5px !important;
    }

}
p.p-with-checkbox{
    position: relative;
}
input.checkbox-modal-index-html{
        position: absolute;
    top: -2px;
    left: 99px;
    width: 20px;
    height: 20px;
}
span.text-for-margin{
    margin-left: 50px;
}
@media(max-width: 991px){
    span.text-form-in-index-html{
        display: block;
        width: 100%;
        text-align: left;
    }
    span.text-for-margin{
        margin-left: 0;
    }
    p.p-text-indent span{
        margin-left: 0;
    }
    input.button-zapisatsa{
        float: none;
    }
}

/*Модальне окно для кнопки записаться в салон */
/*блок для коментариев */
.inner-block-comments{
	background-color: #F2F2F2;
    position: relative;
    padding: 0px 19px 12px 25px;
    margin-bottom: 40px;
}
span.what-salon-comments{
	background-color: #B5B5B5;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 16px;
}
@media(max-width: 991px){
    span.what-salon-comments{
    height: 22px;
    padding: 1px 4px;
    }
}
@media(max-width: 564px){
    span.what-salon-comments{
    display: none;
    }
}
h3.h3-commennts{
	padding-bottom: 10px;
    border-bottom: 2px solid #DCDCDC;
    font: normal 16px Quiza-Regular;
}
p.name-p-comments{
	color: #9c9580;
    font-size: 16px;
}
p.p-comments-text{
	font-size: 16px;
    font-family: EuropeC;
    color: #3c3c3b;
    line-height: 22px;
}
h1.h1-head-comments{
	text-indent: 0 !important;
    color: #9c9580;
    font-size: 26px;
    font-family: Quiza-Regular;
    text-transform: uppercase;
    font-weight: normal;
}
.comments-text-in-form{
    color: #9c9580;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 11px;
}
select#salon-in-comments{
    max-width: 300px;
    width: 100%;
    padding: 13px 10px;
    background: url(../img/select.png) no-repeat 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Форма на сторінкі Отзиви*/
div.wrapper-comments-form{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
}
select.name-of-salon{
    max-width: 300px;
    width: 100%;
    height: 30px;
    appearance:none;
    -webkit-appearance:none;
    background: url(../img/select.png) no-repeat 100%;
    height: 42px;
    padding: 0 10px;
}
span.span-name-comments{
    display: inline-block;
    max-width: 173px;
    width: 100%;
    text-align: right;
    margin-right: 15px;
    color: #9c9580;
    vertical-align: top;;
    font-family: Quiza-Regular;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 16px;
}
input.salon-in-comments{
    max-width: 600px;
    width: 100%;
    height: 42px;
    padding: 0 10px;
}
.textarea-in-comments{
    max-width: 600px;
    width: 100%;
}
.wrapper-comments-form {
    text-align: left;
}
.submit-in-comments{
    float: right;
    width: auto;
    background: #A09680;
    color: #fff;
    font-size: 18px;
    padding: 14px 65px;
    min-width: 0;
    text-transform: uppercase;
    font: 18px EuropeC;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #D1CBC1;
    display: inline-block;
    margin-right: 8px;
}
.text-of-text-area{
    vertical-align: top;
}
.for-text-and-button{
    overflow: auto;
    text-align: center;
}
@media(max-width: 991px){
    span.span-name-comments{
        display: block;
        text-align: left;
    }
    div.for-text-and-button{
        text-align: left;
        max-width: 600px;
    }
    .submit-in-comments{
        margin-right:0;
    }
}
/* Форма на сторінкі Отзиви*/

/* pagination*/
.page-pagination a{
    color: #262626;
    font-size: 23px;
}
.page-pagination a:hover{
    color: #9C9580;
    text-decoration: none;
}
.page-pagination a:after{
    content: '';
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 1px 0 6px;
}
.page-pagination a:last-child:after{
    content: none; 
}
span.next-page-in-comments{
    position: relative;
}
span.next-page-in-comments a i.fa-arrow-right{
    position: absolute;
    top: 0;
    font-size: 10px !important;
    display: inline-block;
    margin-bottom: 5px;
}

/* pagination*/
/*form */




/*form */
/*блок для коментариев */ 