/* Menu*/
ul.menu-header li a.contakts{
    text-decoration: underline;
    color: #9C9580;
}
/*Модальне окно для кнопки записаться в салон */
.modal-zapisv-salon .modal-body{
     padding: 0 78px 57px 69px;
}
span.text-form-in-index-html{
    font-size: 16px;
    font-weight: 400;
    color: #979280;
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right:25px;
}
#select-zapis-vsalon{
    max-width: 300px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    appearance:none;
    -webkit-appearance:none;
    background: url(../img/select.png) no-repeat 100%;
}
input.zapis-v-salon-name{
        max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-data,input.zakaz-input-time{
        max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-procedura,input.zacaz-input-specialist, input.zacaz-input-telephone{
    max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.button-zapisatsa{
    max-width: 253px;
    width: 100%;
    height: 50px;
    float: right;
    background: #A09680;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font: 18px EuropeC;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #D1CBC1;
}
input.button-zapisatsa:hover{
    background-color: #827A68;
}
p.p-text-indent{
    overflow: auto;
}
p.p-text-indent span{
    display: inline-block;
    margin-left: 145px;
}
@media(min-width: 991px){
    p.p-with-checkbox{
        padding-left:145px;
    }
}
@media(max-width: 991px){
    p.p-with-checkbox{
        padding-left:20px;
    }
    input.checkbox-modal-index-html{
        top: -2px !important;
        left: -5px !important;
    }

}
p.p-with-checkbox{
    position: relative;
}
input.checkbox-modal-index-html{
        position: absolute;
    top: -2px;
    left: 99px;
    width: 20px;
    height: 20px;
}
span.text-for-margin{
    margin-left: 50px;
}
@media(max-width: 991px){
    span.text-form-in-index-html{
        display: block;
        width: 100%;
        text-align: left;
    }
    span.text-for-margin{
        margin-left: 0;
    }
    p.p-text-indent span{
        margin-left: 0;
    }
    input.button-zapisatsa{
        float: none;
    }
}

/*Модальне окно для кнопки записаться в салон */
div.line-contakts{
	width: 100%;
	border-top: 2px solid #E7E7E6;
	margin: 30px 0 30px 0;
}
.h3-contakts{
	margin-bottom: 20px;
    font-size: 18px;
    color: #9c9580;
    text-transform: uppercase;
    font-weight: normal;
}
p.p-contakts-address{
	 font-family: EuropeC;
    font-size: 12px;
    font-weight: 500;
    color: #3C3C3B;
    font-style: normal;
}
p.p-phone-contakts{
	 font-size: 18px;
    color: #9c9580;
    display: inline-block;
    margin-top: 5px;
}
.wrap-contakts{
	padding-left: 36px;
}
p.p-contakts-dlya-predlojeniy{
    font-size: 16px;
}
p.p-contakts-dlya-predlojeniy a{
    color: #9c9580;
    text-decoration: underline;
}
p.p-contakts-dlya-predlojeniy a:hover{
    text-decoration: none;
}

/* Map*/
.map-contakts{
    width: 100%;
}
.wrapper-for-map-contakts{
    margin-bottom: 37px;
}
/* Map*/
/* Form*/
.col12-wrap-contakts-form h3{
    font-size: 26px;
    margin-bottom: 20px;
    display: block;
    line-height: normal;
    text-indent: 120px;
    text-align: center;
    color: #9c9580;
}
span.text-form-in-contakts{
    display: inline-block;
    vertical-align: top;
    min-width: 170px;
    text-align: right;
    font-family: quizaproregular;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 16px;
    color: #9c9580;
    margin-right: 23px;
}
.input-in-contakts{
    max-width: 560px;
    width: 100%;
    padding: 0 20px;
    min-height: 44px;
    border: 1px solid #D1CBC1;
    display: inline-block;
    vertical-align: middle;
}
.text-area-contakts{
    max-width: 560px;
}
p.p-polya-need-to-feel{
    overflow: auto;
}
p.p-polya-need-to-feel span.pola-need-to-compleate{
    display: inline-block;
    float: left;
}
p.p-polya-need-to-feel input.input-submit-contakts{
    display: inline-block;
    float: right;
    }
div.col12-wrap-contakts-form{
    padding: 0 203px;
}
span.pola-need-to-compleate{
    color: #9c9580;
    font-size: 14px;
    line-height: 20px;
}
.input-submit-contakts{
    background: #A09680;
    color: #fff;
    padding: 14px 65px;
    min-width: 0;
    text-transform: uppercase;
    font: 18px EuropeC;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #D1CBC1;
    display: inline-block;
}
.input-submit-contakts:hover{
    background-color: #827A68;
}
@media(max-width: 1199px){
    .input-in-contakts,#text-area-contakts{
        max-width: 300px;
    }
    .h3-contakts{text-indent: 0;}
    p.p-polya-need-to-feel{padding: 0 32px;}
}
@media(max-width: 991px){
    div.col12-wrap-contakts-form{
        padding: 0 95px;

    }
}
@media(max-width: 765px){
    span.pola-need-to-compleate{
    display: block;
    float: none;
    margin-left: 193px; 
    }
    input.input-submit-contakts{
        margin-right: 30px;
    }
}
@media(max-width: 685px){
    .input-in-contakts, #text-area-contakts{
        max-width: 200px;
    }
    p.p-polya-need-to-feel{
         padding:0;
         max-width: 253px;
         margin-left: 42%;
    }
    span.pola-need-to-compleate{
        display: block;
        margin-left: 0;
     
    }
    input.input-submit-contakts{
        display: block;
        float: right;
        margin-right: 0;
    }
    div.col12-wrap-contakts-form{
        padding: 0 15px;
    }

}
@media(max-width: 431px){
    p.p-polya-need-to-feel{
        padding: 0;
        text-align:center;
        margin: 0 auto;
    }
    span.pola-need-to-compleate,input.input-submit-contakts{
        float: none !important;
        margin:0;
    }
    .col12-wrap-contakts-form h3{
        text-indent: 0;
        font-size:20px;
    }
    span.text-form-in-contakts{
        text-align: center;
    }
    .input-submit-contakts{
        max-width: 198px;
        padding: 10px 46px;
    }
}
/* Form*/