/* Main styles*/
@font-face{
	font-family: EuropeC;
	src: url(../libs/EuropeCRegular/EuropeCRegular.otf);
}
@font-face{
	font-family: Quizaproregular;
	src: url(../libs/quizapro/Quizaproregular.ttf);
}
/*html{overflow-x:hidden;}*/
body{margin: 0; padding: 0; height: 100%;}
a{font-family: Quizaproregular;}
a {font-weight: 400; font-size: 20px; color: #ffffff; text-decoration: none;}
/* Main styles*/
/*header style */
@media(max-width:991px){
	.div-discription{
		border-right: none;
	}
}
.text-right-header-phone img{display: inline-block; margin-right: 4px; margin-bottom:1px;}
.head-line{height: 10px; background-color: #9C9580; border-top: 1px solid #B6B4B6;}
.header-menu{padding: 35px 0 29px 0; min-height: 151px; -webkit-box-sizing: border-box; box-sizing: border-box;}
.div-logo{padding-top: 12px;}
.div-logo img{
	max-width: 100%;
}
.line{
	border-top: 2px solid #E7E7E6;}
p{
	font-family: EuropeC; 
	font-size: 14px; font-weight: 500; 
	color: #3C3C3B; 
	font-style: normal;}
p.head-text{margin-bottom: 0;}
p.p-first{margin-bottom: 5px;}
.text-right-header-phone a{
	background-color: #c44949; 
	padding: 17px 42px 11px 8px; 
	display: inline-block;}
.text-right-header-phone a:hover{
	color: #ffffff; 
	text-decoration: none; 
	background-color: #b52626;}
.text-right-header-phone a:focus{
	color: #ffffff; 
	text-decoration: none;
	outline: 0;
}
.text-right-header-phone a i.fa-phone{
	font-size: 38px; 
	margin-right: 10px; 
	vertical-align: middle;}
.text-right-header-phone p{
	font-family: EuropeC; 
	font-size: 14px; 
	font-weight: 200; 
	color: #181714;}
.text-right-header-phone p{}
/* Медія для нового меню при екранах <767*/
.clear{clear: both;}
.cont-hidden-menu{
	vertical-align: top;
	display: none;
}
.hidden-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: black;
}
.hidden-menu ul li a{
	color: #9C9580;
	display: block;
	text-transform: uppercase;
}
.hidden-menu ul li a:hover{
	background-color: black;
	color: white;
}
.a11{
	display: block;
}
.a12{
	display: none;
}

@media(max-width: 767px){
	.header-menu{padding: 0 5px; overflow: hidden; min-height: 0;}
	.phone-header img{ 
		max-width: 28px; 
		width: 100%;
		margin-bottom: 6px;
		 }
	.div-logo img{
			max-width: 120px;
    	width: 100%;
    	margin-top: 14px;
    	margin-left: 11px;
		 }
	.div-logo{
		 	padding-top: 0;
		 	padding-bottom: 0;
		 }
	.menu-open{
		display: inline-block;
		width: 60px;
		padding: 15px 9px 15px 9px;
		border: 1px solid #E7E7E6;
    vertical-align: middle;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -5px;
	}
	.phone-header:focus{
		outline: 0;
	}
	.phone-header:active{
		transform: translate(1px,1px);
	}
	.menu-open:active{
		transform: translate(1px,1px);
	}
	.phone-header{
		display: inline-block;
		width: 60px;
		border: 1px solid #E7E7E6;
    border-right: none;
    padding: 16px 13px 14px 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: middle;
    box-sizing: border-box;
    margin-top: -1px;
    margin-bottom: -1px;
	}
	.menu-open img{
		max-width: 39px; width: 100%;
		display: inline-block;
		margin-bottom: 4px;
		}
	.phone-and-menu{text-align:right;}
	.wrap-for-elena-temirgaleva img{max-width: 314px; width: 100%;}
	}
/* Медія для нового меню при екранах <767*/
@media(min-width: 991px){
	.text-right-header-phone{padding-right:30px;}
}

@media(max-width: 991px){
	.text-right-header-phone{text-align: center; margin-top: 5px;}
	.text-right-header-phone{margin-bottom: 0;}
}
/*header style */ 

/* Menu and search*/
@media(max-width: 1199px){
.menu-header li a{font-size:14px !important; margin-right: 10px !important;}
}
@media(max-width: 991px){
.menu-header li a{font-size:14px !important; margin-right: 9px !important;}
}
@media(max-width: 549px){
.menu-header li a{margin-left: 5px !important; font-size: 10px !important;}
}
@media(max-width: 549px){
.block-search{padding: 0 20px;}
}
@media(max-width: 767px){
.block-search .row{display: inline-block;}
.block-search{text-align: center;}
}
@media(max-width: 767px){
ul.menu-header{display: inline-block;}
.header-menu-top{text-align: center;}
}
@media(max-width: 767px){
.input-wrapper{padding-top: 4px;}

}
@media(min-width: 991px){
.input-wrapper{margin-top:3px;}

}

.menu-and-search{margin-top: 29px;}
ul.menu-header{margin-left: 25px; padding:0; list-style: none; overflow: auto; display: inline-block;}
ul.menu-header li{float: left;}
.main{text-decoration: underline; color: #9c9580;}
ul.menu-header li a{display: inline-block; color: #000000; margin-right: 36px; font-size: 16px;}
ul.menu-header li a:hover{color: #9c9580;}
ul li a.a-main{color: #9C9580; text-decoration: underline;}


/* Menu and search*/

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}
.block-social{padding: 0; text-align:right;}
.input{padding-left: 7px; padding-right: 15px;}


/* search*/

/* first slide and right block*/
.horizont-line{
	width: 100%;
	border-top: 2px solid #E7E7E6;
	margin-top: 26px;
	margin-bottom: 26px;
}
.first-slider-right-block{
	margin-top: 21px;
}
#main-firs-carousel .owl-nav .owl-prev {
	position: absolute;
    top: 43%;
    left: 1%;
    color: white;
    font-size: 34px;
    background: transparent;
}
#main-firs-carousel .owl-nav .owl-next{
	position: absolute;
    top: 43%;
    right: 1%;
    color: white;
    font-size: 35px;
    background: transparent;
}
#main-firs-carousel .owl-dots span{
	width: 12px;
    height: 12px;
    background: no-repeat;
    border: 1px solid
}
#main-firs-carousel .owl-dots .active span{
	background-color: #3C3C3B;
}
#main-firs-carousel .owl-dots span:hover{
	background-color: #3C3C3B;
} 

/* right block*/
/*up links */
.up-block-uslugi{
	margin-top: 23px;
	margin-bottom: 40px;
}
ul.ul-up-uslugi{
	margin:0;
	padding:0;
	list-style: none;
	overflow: auto;
	text-align: left;
	
}
ul.ul-up-uslugi li{
	display: inline-block;
	margin-bottom: 30px;

	max-width:503px;
	width: 90%;
	height: 87px;
	margin-left: 22px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
margin-bottom: 50px
}
ul.ul-up-uslugi li:first-child{
	margin-right: 0;
}
ul.ul-up-uslugi li a{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	padding: 26px 0;
	color: #706F6F;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	border: 1px solid #DBD8D4;
	padding-top: 43px;
	padding-bottom: 70px;
}
ul.ul-up-uslugi li a:hover{
	border: 1px solid black;

}
@media(max-width: 1199px){
	ul.ul-up-uslugi li{
		max-width: 358px;
		float: left;
		margin-bottom: 29px;

	}
	ul.ul-up-uslugi li a{
		font-size: 13px;
		padding-top: 30px;
		padding-bottom: 50px;	
	}
}
@media(max-width: 992px){
	ul.ul-up-uslugi li{
		max-width: 305px;
		float: left;
		margin-bottom: 1px;
	}
	ul.ul-up-uslugi li a{
		font-size: 14px;
		padding-top: 21px;
		padding-bottom: 23px;
		height: auto;
	}
}
@media(max-width: 767px){
	ul.ul-up-uslugi li{
		float: none;
		margin-left: 0;
	}
	.main-page-menu-header{
		text-align: center;
	}
	ul.ul-up-uslugi{
		display: inline-block;
		text-align: center;
	}
	ul.ul-up-uslugi li a{
		font-size: 15px;
	}
}



/* right block*/
/* first slide and right block*/
/*Block Elena Temigralieva */
.wrap-elena-temirgalieva{
	padding-bottom: 41px;

}
.div-h{height: 1000px;}
h2.salon-krasoty{
	font-size:34px;
	font-family: Quizaproregular;
	margin-bottom: 0;
}
h2.salon-krasoty+h2{
	margin-top:5px;
	color: #c44949;
	font-weight: 700;
	font-size: 42px;
}
p.text-elena-temigraleva{
	font-size: 16px;
	font-family: EuropeC;
	font-weight: 400;
}
@media(max-width:767px){
	.wrap-for-elena-temirgaleva{text-align: center;}
}
/*Block Elena Temigralieva */

/*block main second carousel */
#main-second-carousel p{
	text-align: right;
	margin-top: 20px;
	color: #948E7C;
	font-size: 16px;
	font-weight: 400;
	font-family: EuropeC;
}
.main-page-h2{
	font-size:26px;
	font-weight: 400;
	color: #948E7C;
	margin-bottom: 45px;
}
#main-second-carousel .owl-nav .owl-prev{
	position: absolute;
    top: 150px;
    left: -150px;
    font-size: 41px;
    color: #515151;
    border-top: 2px solid #DBD8D5;
    width: 121px;
    background: none;
}
#main-second-carousel .owl-nav .owl-next{
	position: absolute;
    left: -103px;
    top: 83px;
    font-size: 41px;
    color: #515151;
    background: none;
}
@media(max-width: 961px){
	#main-second-carousel .owl-nav .owl-next,#main-second-carousel .owl-nav .owl-prev{
		display: none;
	}
}
/*block main second carousel */

/*block main thidr carousel */
#main-third-carousel img:hover{
	cursor: pointer;
}
#main-third-carousel p{
	width: 120%;
	text-align: left;
	margin-top: 10px;
	color: #4C4C4B;
	font-size: 18px;
	font-weight: 400;
	font-family: EuropeC;
	border-bottom: 2px solid #E7E7E6;
}
#main-third-carousel img{
	max-height: 290px;
}
.main-page-h2{
	font-size:26px;
	font-weight: 400;
	color: #948E7C;
	margin-bottom: 45px;
}
#main-third-carousel .owl-nav .owl-prev{
	position: absolute;
    top: 150px;
    left: -150px;
    font-size: 41px;
    color: #515151;
    border-top: 2px solid #DBD8D5;
    width: 121px;
    background: none;
}
#main-third-carousel .owl-nav .owl-next{
	position: absolute;
    left: -103px;
    top: 83px;
    font-size: 41px;
    color: #515151;
    background: none;
}
@media(max-width: 961px){
	#main-third-carousel .owl-nav .owl-next,#main-third-carousel .owl-nav .owl-prev{
		display:none;
	}
}

		
	
	

/*block main thidr carousel */

/* block press about us*/
.wrap-img-span{
	display: inline-block;
	margin-bottom:20px;
	padding-right:20px;
}

@media(max-width:767px){
.wrap-span-details a{font-size: 11px !important;}
}
	


.wrap-span-details{
	float: right;}
.wrap-span-details a{
	color: #3C3C3B;
	font-size:14px;
	font-weight: 400;
	font-family: EuropeC;
	text-decoration: underline;
	display: inline-block;
	margin-top: 10px;
}
.wrap-span-details a:hover{
	text-decoration:none;
}
ul.press-about-us li a{
	display: block;
	color: #262626;
	font-size: 14px;
	font-weight: 500;
	font-family: EuropeC;
}
ul.press-about-us li{
	margin-bottom: 15px;
}
.wrap-press-about-us p{
	margin-top: 15px;
	text-align: right;
	padding-right: 31px;
}
.wrap-row-second{
	margin-top: 20px;
}
.wrap-press-about-us img{
	max-width: 100%;
}



/* block press about us*/

/*fourth carousel */
.wrap-instagram{
	text-align:right;
}
@media(max-width: 767px){
	.wrap-instagram{text-align: center;}
}
@media(max-width: 767px){
	.h2-center{display: inline-block;}
	.container-come-to-us{text-align: center;}
}
a.instagram{
	color: black;
    background-color: #E7E7E7;
    padding: 14px 105px;
    display: inline-block;
    margin-top: 11px;
}
#main-fourth-carousel img{
	
}

#main-fourth-carousel .owl-nav .owl-prev{
	position: absolute;
    top: 150px;
    left: -150px;
    font-size: 41px;
    color: #515151;
    border-top: 2px solid #DBD8D5;
    width: 121px;
    background: none;
}
#main-fourth-carousel .owl-nav .owl-next{
	position: absolute;
    left: -103px;
    top: 83px;
    font-size: 41px;
    color: #515151;
    background: none;
}
@media(max-width: 961px){
	#main-fourth-carousel .owl-nav .owl-next,#main-fourth-carousel .owl-nav .owl-prev{
		display: none;
	}
}

/*fourth carousel */ 
/* МЫ РАБОТАЕМ НА ЛУЧШИХ КОСМЕТИЧЕСКИХ СРЕДСТВАХ*/
/*five carousel */
#main-five-carousel .owl-nav .owl-prev{
	position: absolute;
    top: 158px;
    left: 6px;
    font-size: 46px;
    color: #515151;
    background: none;
}
@media(max-width: 991px){
	#main-five-carousel .owl-nav .owl-prev{top:31px;}
	#main-five-carousel .owl-nav .owl-next{top:31px !important;}
}
#main-five-carousel .owl-nav .owl-next{
	position: absolute;
    top: 158px;
    right: 6px;
    font-size: 46px;
    color: #515151;
    background: none;
}
@media(max-width: 600px){
	#main-five-carousel .owl-nav .owl-next{
		top: -10px !important;
		right: -25px;
		font-size: 30px;
	}
	#main-five-carousel div.owl-nav div.owl-prev{
		top: -10px;
		left: -25px;
		font-size: 30px;
	}
}

/*five carousel */
/* МЫ РАБОТАЕМ НА ЛУЧШИХ КОСМЕТИЧЕСКИХ СРЕДСТВАХ*/


/*ПОЛЕЗНАЯ ИНФОРМАЦИЯ */
.wra-row-usful-information{
	margin-bottom: 45px;
}
.wra-row-usful-information img{max-width: 100%;}

.wrap-usful-information{
	padding-left: 10PX;
}
@media(max-width: 991px){
.wrap-usful-information{padding-left: 0;}	
}
.header-h4-usfuul-information{
	border-bottom: 2px solid #E7E7E6;
	padding-bottom: 20px;
	margin-top: 0;
}
p.data-numbers{
	color: #A39D8B;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
}
p.text-usful-information{
	font-size: 14px;
	font-family: EuropeC;
	font-weight: 400;
	line-height: 20px;
}
p.details{
	text-align: right;
}
p.details a{
	color: #262626;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 400;
}
p.details a:hover{
	text-decoration: none;
}
.header-h4-usfuul-information a{
	color: #c44949;
	font-size: 20px;
	font-weight: 400;
	font-family: EuropeC;
}
p.arkhive-articals{text-align: right;}
p.arkhive-articals a{
	color: #A19A86;
	font-size: 16px;
	font-weight: 400;
	font-family: EuropeC;
	text-decoration: underline;
}
p.arkhive-articals a:hover{
	text-decoration: none;
}
.wrap-row-archive-articals{
	margin-bottom: 40px;
}
/*ПОЛЕЗНАЯ ИНФОРМАЦИЯ */

/* FOOTER*/
.footer-wrapper{
	background-color: #9C9580;
	padding-top: 30px;
	
}
.footer-logo{
	text-align: right;
}
ul.footer-nav{
	margin:0;
	padding: 0;
	list-style: none;
}
ul.footer-nav li{margin-bottom: 5px;}
ul.footer-nav li a{
	font-size:16px;
	font-weight: 500;
	color: white;
}
a.zapis-v-salon-foter:focus{
	outline: 0;
}
.footer-logo p{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.footer-logo-description img{
	max-width: 100%;
}
.footer-logo-description{
	margin-top: 56px;
}
.footer-logo-description p{
	margin-top: 20px;
}
@media(max-width: 400px){
	ul.footer-nav li a{
		font-size: 14px;
	}
	.footer-logo p{
		font-size: 14px;
	}
}
/* FOOTER*/

/* Модальные окна */

button.close{
	opacity: 1;
}
button.close:hover{
	opacity: 1;
}
button.close:active,button.close:focus{
	outline: 0;
}
div.modal-header{border-bottom: none;}
h3.h3-modal-ord-call{
	color: #9c9580; 
	font-family: EuropeC; 
	font-size: 26px;
	text-indent: 26px;
}
p.zakaz-p{
	color: #9c9580; 
	font-size: 16px;
	margin-bottom: 39px;
}
p.checkbox-p{
	font-size: 12px; 
	color: #9c9580;
	padding-left: 36px;
    position: relative;

}
input.jdu-zvonka{
	border: none;
    background-color: #A09680;
    display: inline-block;
    color: white;
    font-size: 16px;
    max-width: 369px;
    padding: 10px 135px;
}
input.jdu-zvonka:hover{
	background-color: #827A68;
}
input.jdu-zvonka:focus{
	outline: 0;
}
input.input-name{
	max-width: 369px;
    width: 100%;
    padding: 11px 5px 11px 5px;
    margin-right: 55px;
}
input.input-phone{
	max-width: 369px;
    width: 100%;
    padding: 11px 5px 11px 5px;
}
input.input-checkboc-order-call{
	position: absolute;
    left: 0;
    top: -2px;
    width: 17px;
    height: 17px;
}

#select-order-call{
	-moz-appearance:none;
	     appearance:none;
	-webkit-appearance:none;
	max-width: 369px;
    width: 100%;
    padding: 11px 5px 11px 5px;
    margin-right: 55px;
    margin-bottom:-5px;
    background: #fff url(../img/select.png) no-repeat 100% 54%;
}
.modal-order-the-call .modal-body{
	padding: 0px 43px 26px 43px;
}
p.p-inputs-name-phone{
	margin-bottom: 33px;
}
p.p-inputs-name-phone-2{
	margin-bottom:54px;
}
@media(max-width: 991px){
	h3.h3-modal-ord-call{
		text-align: center;
	}
	input.jdu-zvonka{
		margin-right: 54px;
		
	}
	#select-order-call{
		margin-bottom:10px;
		;
	}
	input.input-phone{
		margin-right:54px;
		
	}
	input.input-name{
		margin-bottom: 13px;
		
	}
	p.p-inputs-name-phone{
		margin-bottom: 14px;
		text-align: center;
	}
	p.p-inputs-name-phone-2{text-align: center;}
}
@media(max-width: 459px){
	input.input-name{
		width: 100%;
	}
	input.jdu-zvonka{
		width: 100%;
		height: 43px;
		padding: 0;
	}

}
/* Модальные окна */
/*Модальне окно для кнопки записаться в салон */
.modal-zapisv-salon .modal-body{
	 padding: 0 78px 57px 69px;
}
span.text-form-in-index-html{
	font-size: 16px;
	font-weight: 400;
	color: #979280;
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-right:25px;
}
#select-zapis-vsalon{
	max-width: 300px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    -moz-appearance:none;
         appearance:none;
    -webkit-appearance:none;
    background: url(../img/select.png) no-repeat 100%;
}
input.zapis-v-salon-name{
	    max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-data,input.zakaz-input-time{
	    max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.zacaz-input-procedura,input.zacaz-input-specialist, input.zacaz-input-telephone{
	    max-width: 600px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
input.button-zapisatsa{
	max-width: 253px;
	width: 100%;
	height: 50px;
	float: right;
    background: #A09680;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font: 18px EuropeC;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #D1CBC1;
}
input.button-zapisatsa:hover{
	background-color: #827A68;
}
p.p-text-indent{
	overflow: auto;
}
p.p-text-indent span{
	display: inline-block;
	margin-left: 145px;
}
@media(min-width: 991px){
	p.p-with-checkbox{
		padding-left:145px;
	}
}
@media(max-width: 991px){
	p.p-with-checkbox{
		padding-left:20px;
	}
	input.checkbox-modal-index-html{
		top: -2px !important;
		left: -5px !important;
	}

}
@media(max-width: 481px){
	.modal-zapisv-salon .modal-body{
		padding: 10px;
	}
	.p-with-button{
		font-size: 12px;
	}
	}
p.p-with-checkbox{
	position: relative;
}
input.checkbox-modal-index-html{
	    position: absolute;
    top: -2px;
    left: 99px;
    width: 20px;
    height: 20px;
}
span.text-for-margin{
	margin-left: 50px;
}
@media(max-width: 991px){
	span.text-form-in-index-html{
		display: block;
		width: 100%;
		text-align: left;
	}
	span.text-for-margin{
		margin-left: 0;
	}
	p.p-text-indent span{
		margin-left: 0;
	}
	input.button-zapisatsa{
		float: none;
	}
}

/*Модальне окно для кнопки записаться в салон */
/*Стылы к модальным окнам третьего слайдера */
.main-style-modal-third-slider{
	max-width: 1200px;
    width: 100%;
}
h3.modal3-name-h3{
	margin-top: 0;
    margin-bottom: 53px;
}
h5.modal3-h5-duty{
	font-weight: bold;
}
.main-style-modal-third-slider p{
	 margin-bottom: 32px;
    font-size: 14px;
}
p.p-modal-for-img img{
	margin-bottom: 4px;
    max-width: 269px;
    max-height: 269px;
    width: 100%;
    height: 100%;
}
@media(max-width: 607px){
	p.p-modal-for-img img{
		max-width: 150px;
		width: 100%;
	}
}

/*Стылы к модальным окнам третьего слайдера */
}