@font-face{
	font-family: "BebasNeue-Bold";
	src: url("../fonts/Bebas/BebasNeue-Bold.otf");
}
@font-face{
	font-family: "BebasNeue-Book";
	src: url("../fonts/Bebas/BebasNeue-Book.otf");
}
@font-face{
	font-family: "BebasNeue-Light";
	src: url("../fonts/Bebas/BebasNeue-Light.otf");
}
@font-face{
	font-family: "BebasNeue-Regular";
	src: url("../fonts/Bebas/BebasNeue-Regular.otf");
}
@font-face{
	font-family: "BebasNeue-Thin";
	src: url("../fonts/Bebas/BebasNeue-Thin.otf");
}
@font-face{
	font-family: "MyriadPro-Bold";
	src: url("../fonts/Myriad/MyriadPro-Bold.otf");
}
@font-face{
	font-family: "MyriadPro-Regular";
	src: url("../fonts/Myriad/MyriadPro-Regular.otf");
}
@font-face{
	font-family: "MyriadPro-Semibold";
	src: url("../fonts/Myriad/MyriadPro-Semibold.otf");
}
@font-face{
	font-family: "PT-Sans-Bold";
	src: url("../fonts/PT Sans/PT-Sans-Bold.ttf");
}
@font-face{
	font-family: "PT-Sans-Regular";
	src: url("../fonts/PT Sans/PT-Sans-Regular.ttf");
}
@font-face{
	font-family: "PT-Sans-Narrow-Bold";
	src: url("../fonts/PT Sans/PT-Sans-Narrow-Bold.ttf");
}