$contactColor: #717274;
$navcolor: #3A2020;
$slideHeadingColor: #f6303e;
$slideParagColor: #8da5ba;
$btnsColor: #ffffff;
$sldInavNotctiveColor:#999999;
$sldNavActiveColor: #D60202;
$secHeadinColor: #202945;
$goodsHeadActive: #DC2F2F;
$goodsHeadDefoult: #212121;