@import "style.scss";
.topmenuAndroid ul li .activeLink{
	background-color: #AF0917;
	color: #fff;
}
.headerNews h1{background-color: transparent;}
.wrapContPhones,.wrapElitDistrub{border-bottom: 2px solid #9B1203;}
.wrapContPhones,.wrapElitDistrub{
	margin-bottom: 30px;
	padding-bottom: 50px;
}
.wrapperMap iframe{
	width: 100%;
	min-height: 500px;
	box-shadow: 0 0 9px black;
}
.wrapContacts{
	padding-bottom: 50px;
	color: #000;
	.adressContact{
		margin-bottom: 15px;
		font-size: 46px;
		line-height: 53px;
		font-family: $PT-regular;
	}
	.pPhone{
		display: flex;
		font-size: 40px;
		font-family: $PT-bold;
		img{
			display: inline-block;
			margin-right: 10px;
		}
	}
	h3{
		font-size: 120px;
		font-weight: bold;
		text-align: center;
		color: #000;
		margin-top: 60px;
	}
}
.wrapadressPhone{margin-bottom: 60px;}
.email{text-align: center;}
.instagram{text-align: right;}
.roundIconContact{

	.socialItem{
	margin-right: 5px;
	display: inline-block;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    position: relative;
  	
    i{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    }
	}
}
.textSocial{
	position: relative;
	top: -20px;
	display: inline-block;
	margin-top: 6px;
	color: #000;
	font-weight: bold;
	font-size: 34px;
}
span.fb{background-color: #414F91;}
span.email{background-color: #C7172B;}
span.instagram{background-color: #221D21;}
.exlusivDestributor{
	font-size: 46px;
	font-weight: bold;
	color: #000;
	appearance:none;
	border:none;
	outline: none;
	margin-bottom: 50px;
	padding-right: 32px;
	background: url('../img/selectcontacts.png')
	 no-repeat 100% 18px;
}
.adressContacts p,{
	font-size: 30px;
	color: #000;
}
.wrapAskQuestion{
	h3{
	font-size: 46px;
	font-weight: bold;
	color: #000;
	margin-bottom: 40px;
}
	input{
	margin-bottom: 20px;
    width: 100%;
    padding: 0px 0px;
    border: none;
    outline: none;
    display: block;
    border-bottom: 1px solid grey;
    font-size: 40px;
	}
	textarea{
		min-height: 146px;
		display: block;
		width: 100%;
		margin-bottom: 15px;
		background-color: #EBEBEB;
	}
	button{
		color: #fff;
		text-transform: uppercase;
		font-size: 33px;
		font-weight: bold;
		max-width: 373px;
		width: 100%;
		padding: 18px 0;
		text-align: center;
		display: block;
		margin: 0 auto;
		border:none;
		outline: none;
		background-color: #B11116;
		transition: all 0.3s;
		&:hover{
			background-color: #1B1B1B;
		}
	}
}
.headingTextArea{
	font-size: 40px;
	font-weight: normal;
	color: #757575;
} 
.wrapAskQuestion{margin-bottom: 30px;}
.pPhone span{
	display: inline-block;
	margin-top: 4px;
}
.centerContacts{text-align: center;}
.rightContacts{text-align: right;}

@media(max-width:1400px){
	.textSocial{font-size: 26px;}

	}//end media
@media(max-width:1199px){
	.textSocial{top: 0;}
	.roundIconContact p{text-align: center;}
	}//end media
@media(max-width:991px){
	.textSocial{font-size: 18px;}
	}//end media
@media(max-width:991px){
	.wrapAskQuestion form{margin-bottom: 20px;}
	.exlusivDestributor{
		font-size: 26px;
		background-size: 22px;
		padding-right: 25px;
		background-position: 100% 10px;
	}
}//end media
@media(max-width:769px){
	.textSocial{
		top: 0;
		font-size: 21px;
	}
	.roundIconContact{
		margin-bottom: 15px;
		p{
		text-align: center;
		.socialItem {
		display: block;
		margin: 0 auto;
	}
	}
	}

	.wrapContacts h3{
		font-size: 52px;
		margin-top: 15px;
	}
	.pPhone img{width: 30px; height: 30px;}
	.pPhone span{margin-top: 0;}
	.wrapContacts .adressContact{font-size: 30px;}
	.hponeBoldContacts{font-size: 30px;}
	.wrapadressPhone{margin-bottom: 15px;}
	.exlusivDestributor{
		display: inline-block;
		font-size: 20px;
		background-position: 100% 6px;
	}
	.adressContacts p{font-size: 20px;}
	.elitSelect{text-align: center;}
	.wrapAskQuestion form h3,
	.wrapAskQuestion input,.headingTextArea{font-size: 26px;}
	.wrapAskQuestion button{
		max-width: 200px;
		font-size: 18px;
		padding: 12px 0;
	}
	

	}//end media 769
