@import "style.scss";
html{overflow-x: hidden;}
.headerNews h1{background-color: transparent;}
.newsHeaderBlocks{
	box-shadow: 0 0 10px #AAB4BD;
	border: 1px solid black;
	position: relative;
	img{
		width: 100%;
		display: inline-block;
	}
	div{
		position: absolute;
		bottom:0;
		width: 100%;
		padding: 20px 29px;
		background: rgba(255,255,255,0.7);
	}
}
.topmenuAndroid ul li .activeLink{
	background-color: #AF0917;
	color: #fff;
}
.newsHeaderBlocks div h3{
	color: #b11116;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 30px;
}
.newsHeaderBlocks div:hover h3,{
	color: #000;
	transition:all 0.3s;
}
.newsHeaderBlocks div:hover a{
	text-decoration: none;
}
.newsHeaderBlocks div p{
	color: #000;
	font-size: 26px;
	line-height: 26px;
}
.wrapHeaderThreeBlocks{
	padding-bottom: 100px;
}
////news Content
.newsImg img{
	display: inline-block;
	max-width: 726px;
	width: 100%;
	box-shadow: 0 0 11px 0px black;
}
.newsContent{
	h3{
		font-size: 53px;
		color: #000;
		font-family: $PT-bold;
		margin-bottom: 12px;
	}
}
.dateTime{
	font-size: 23px;
	color: #131311;
	margin-bottom: 45px;
}
.newsParagraphContent{
	font-size: 40px;
	font-family: $PT-bold;
}
.rowNewsContent{
	margin-bottom: 100px;
}
.containerNewsContent{
	 padding: 0 15px;
}
.linkWrapNews,.linkWrapNews:hover{
	color: #000;
	cursor: pointer;
	display: inline-block;
}
.rowNewsContent:hover h3,.rowNewsContent:hover .newsParagraphContent{
	color: #B11116;
}
.newsContentWrap{
	margin-bottom: 120px;
}
///// END news content

//pagination
.wrapePagination{
	margin-bottom: 129px;
}
.pagination a{
	display: inline-block;
	margin-right: 17px;
	font-size: 40px;
	padding: 23px 35px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000;
	box-shadow: 0 0 4px black;
	&:hover{
		background-color: #B11116;
		color: #FFF;
		text-decoration: none;
		transition:all 0.3s;
	}
}
.pagination .linkPagDots{
	background-color: transparent;
	box-shadow: none;
	color: #000;
	&:hover{
		background-color: transparent;
		color: #000;
		cursor:	default;
	}
}
.pagination .paginationActive{
	background-color: #363636;
	color: #FFF;
}
.linkWrapNews:hover{text-decoration: none;}
//end pagination
@media(max-width: 1400px){
	.newsHeaderBlocks div{

	 h3{
		margin-bottom: 10px;
		font-size: 25px;
		line-height: 25px;
	}
	p{
		font-size: 16px;
		line-height: 16px;
	}
	}
}//end
@media(max-width: 1199px){
	.newsHeaderBlocks div{
		padding: 10px;
		h3{font-size: 20px; line-height: 20px;}
		
	}
}//end
@media(max-width: 991px){
	.newsHeaderBlocks div{padding: 15px;}
	.newsHeaderBlocks{margin-bottom: 15px;}
	.pagination a{
		margin-right: 10px;
		font-size: 18px;
		padding: 15px 23px;
	}
	.wrapePagination{margin-bottom: 40px;}
	.newsContentWrap{margin-bottom: 0;}
}//end
@media(max-width: 768px){
	.newsContent h3{
		font-size: 30px;
		margin-bottom: 12px;
	}
	.dateTime{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.newsParagraphContent{font-size: 20px;}
	.rowNewsContent{margin-bottom: 25px;}
	.pagination a{
		font-size: 15px;
		padding: 4px 9px;
		margin-right: 5px;
	}

}//end
@media(max-width: 400px){
	.pagination a{
		font-size: 12px;
		padding: 4px 7px;
	}
}