/*body,html{height: 100%;}
.none{display: none;}
.block{display: block; position: absolute; min-width: 555px;}

ul{background-color: red;}
ul li a{font-size: 20px; color: white;}
.but1{background-color: green; padding: 20px; font-size: 20px; color: white;}
.scroll{position: fixed; top: 0;}
.fixed {

      position: fixed;
      top: 0;
      left: 19%;
    }
.body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #BCBDBC;
	opacity: 0.7;
	height: 100%;
	



}*/

/*Стилі для першого слайдера */

.owl-theme .owl-nav [class*=owl-]{background: none;}
.owl-theme .owl-nav [class*=owl-]:hover{background: none;}
div.owl-prev{position: absolute;left: -0;top: 35%;}
.owl-prev .fa-chevron-left{font-size: 40px; color: #333333;}
div.owl-next{position: absolute;right: 0;top: 35%;}
.owl-next .fa-chevron-right{font-size: 40px; color: #333333;}

/*Стилі для першого слайдера */
/*Стилі для другої і третьої каруселі */

div.owl-next >i.fa-angle-right{position: absolute; right: -39px;}
div.owl-prev >i.fa-angle-left{position: absolute; left:-39px;}
div .fa-angle-left{color: #333333; font-size: 90px; background-color: white;}
div .fa-angle-right{color: #333333; font-size: 90px; background-color: white;}

/*Стилі для другої і третьої каруселі */ 

/*стилі для хедера */
.glyphicon-menu-down{font-size: 11px;}
.nav > li > a {
    position: relative;
    display: block;
    padding: 3px 4px;
}
.navbar{min-height: 40px;}
.nav-tabs {border-bottom: none;}
.btn-group > .btn:first-child {margin-left: 0; margin-top: 5px;}
img.logo{width: 30px;}
#registration{height: auto; background-color: transparent; border: none; font-size: 15px; margin-top: 0; 
  box-shadow: none;}
  .drop-menu-registration{top:112% !important;}
  .drop-menu-lang a:hover{text-decoration: none !important; background-color: #F6F6F6 !important;}

span.menu-border-right{display: inline-block; border-left: 1px solid #CCCCCC; height: 28px; 
 vertical-align: middle; margin-left: 7px;}
.dropdown-toggle{font-size: 12px;} 
.dropdown-toggle:hover{color: red; text-decoration: none !important;}
 .nav-tabs li a{border:none !important;}
 .nav > li > a:focus{background-color: transparent !important;}
 .dropdown a{color: #333333;}
 .nav-tabs li a {color: #333333;}
 .nav-tabs li a:hover{background-color: transparent; text-decoration: underline; border-bottom: none;}

 .glyphicon-menu-down{margin-left: 3px;}
 .dropdown-menu{top: 117%;}
/*стилі для хедера */
/*При прокруткі хедер стає фіксованим */
.fixe-header{width: 100%; position: fixed;top: 0; z-index: 12; background-color: white; 
   border-bottom: 1px solid #DDDDDD;}
.no-padding{padding-left: 0; padding-right: 0;}
/*При прокруткі хедер стає фіксованим */


/*Стилі для меню */
.menu-and-slider-container{margin-top: 10px;}
ul.navigation, ul.navigation li>ul{margin:0; padding: 0; list-style: none;}
ul.navigation,ul.navigation li>ul{border:1px solid #D9D9D9; border-radius: 3px;}
ul.navigation>li{position: relative;}
ul.navigation li>ul{display: none; position: absolute; top: -1px; right: -199px; z-index: 10}
ul.navigation li:hover >ul{display: block;}
ul.navigation li{padding: 6px 0; border-bottom: 1px solid #D9D9D9;}
ul.navigation li,ul.navigation li>ul{background-color: white;}
ul.navigation li a{color: #747474; display: block; padding: 2px 12px; 
  background-color: white;}
li.last-child{border-bottom: none !important;}
ul.navigation li a:hover,ul.navigation li a:active, ul.navigation li a:visited,
ul.navigation li a:focus{text-decoration: none; color: #747474;}
ul.navigation li a:hover{background-color: #F0F0F0;}
i.fa-caret-right{position: absolute;right: 0; color: #3191DA; font-size: 20px !important;}
@media(max-width: 991px){
  ul.navigation li>ul{top: -1px; right: 0;}
}
.display-for-menu{position: relative;}
/*.display-for-menu:hover .hiiden-for-menu{display: block;}*/
.display-when-scroll{}
.hiiden-for-menu{display: none; position: absolute; top: 55px; width: 262px;}

/*Стилі для меню */

/*стилі для кнопки і рядка пошуку */
.katalog-search{margin-top: 15px;}
.btn{border-left:none; height: 54px; background-color: #F56E37; }
.btn:active{ background-color: #FFFFFF; border:none; background-color: #F56E37; }
.btn:focus{ background-color: #FFFFFF; border:none; background-color: #F56E37; }
.btn:hover{ background-color: #FFFFFF; background-color: #F56E37;  }

.input-group .form-control {height: 54px;}
.fa-search{color: white; font-size: 27px !important; }
.btn-default.catalog {
    width: 262px;
    padding-left: 10px;
    text-align: left;
    font-size: 25px;
    color: white !important;
    background-color: #F56E37 !important;

}
.fa-heart-o{font-size: 38px !important;  
  color: #F5736A; position: relative;}
/*стилі для кнопки і рядка пошуку */

/* Блок кредит монтаж*/
.kredits-imgs{margin-top: 34px;}
.how-to-order{}
.how-to-order{border-radius: 3px;}
.cont-how-to-order{margin-top: 35px;}
.margin-top{margin-top: 400px;}
div.how-to-order{padding: 3px; text-align: center;}
a.a-how-to-order{display: block; height: 175px; width: 100%; padding: 24px;  border: 1px solid #DADADA;
border-radius: 3px;}
.fa-desktop, .fa-usd, .fa-truck, .fa-question{font-size: 65px !important;}
.span-header{display: inline-block; margin-top: 6px; margin-bottom: 10px; text-transform: uppercase;}
.span-text{color: black; margin-top: 10px;}
a.a-how-to-order:hover, .span-header:hover{color: #F05642; text-decoration: none;}
.popular-products{padding-left: 12px;}
.popular-products h3{color: #0E6AA0; text-transform: uppercase;}
.second-slider{padding: 0;}
/* Блок кредит монтаж*/ 

/*Стилы до блока як замовити */
.wrap-latest-articols,.row-latest-articols{padding: 0; margin-bottom: 11px;}
h3.h3-latest-articols{text-transform: uppercase; color: #FFA302; padding-bottom: 12px;}
div.block-latest-articols{padding: 10px 13px;}
div.div-latest-articols{border: 1px solid #F0F0F0; border-radius: 4px;padding: 15px;}
a.a-read{padding: 12px 21px; background-color: #F67637;
background: linear-gradient(to top, #F35D37, #F77D37); color: white; 
  border-radius: 6px; border:1px solid #F35D37;}
a.a-read:hover, a.a-read:active{background-color: #F67637; color: white; 
text-decoration: none;}
a.a-img{text-align: center;}
.div-latest-articols p{margin-bottom: 20px;}
.div-for-img{text-align: center;}
/*Стилы до блока як замовити */

/*Стилі для першої каруселі */

/*Стилі для першої каруселі */

/*Footer */
.footer-made-by a:hover{text-decoration: none; color: red;}
.footer-made-by a:visited,.footer-made-by a:active, .footer-made-by a:focus{text-decoration: none;}
.wrap-footer{background-color: #EEEEEE; padding-top: 32px;}
.footer-h5-header{border-bottom: 1px dotted #807D7D; padding-bottom: 4px;}
.footer-made-by{padding-top: 20px;}
.grafic-job{padding: 0;}
i.fa-clock-o{color: #F26758;font-size: 22px;}
.days-of-work{padding-left: 38px;}
.night-orders{padding-left: 23px;}
.h5-made-by-company{border-top: 1px dotted #807D7D; padding-top: 22px;}
.logo-discription{margin-top: 14px;}
/*Footer */

/*second owl carousel */
div.slide-popular-products{text-align: center; border-right: 1px solid #BCBDBC; 
  padding: 0 15px 0 15px;}
div.slide2-wrapper{border: 1px solid #BCBDBC; padding-top: 10px;}
div.slide2-wrapper{border-radius: 4px; padding-bottom: 10px;}
div.row-slider-2{padding: 0;}
hr.hr-above-price{background-color:#BCBDBC; height: 1px;}
/*second owl carousel */

/* карусель нові надходження */
.h3-latest-articols{border-bottom: 1px solid #FFA302}
.h3-row-latest-articols{padding: 0 11px;}
.new-nadhodjenna{padding: 0; color: #F05743; text-transform: uppercase;}
div.slide-popular-products{text-align: center; border-right: 1px solid #BCBDBC; 
  padding: 0 15px 0 15px;}
div.slide2-wrapper{border: 1px solid #BCBDBC; padding-top: 10px;}
div.slide2-wrapper{border-radius: 4px; padding-bottom: 10px;}
div.row-slider-2{padding: 0;}
hr.hr-above-price{background-color:#BCBDBC; height: 1px;}
/* карусель нові надходження */ 

/*стилі для ціни і кнопки кошик на слайдерах 2 і 3 */
.fa-star-o:hover{color: #FCC244;}
span.span-price{background-color: #FDEAA9; padding:10px 15px; }
i.fa-cart-plus{color: white; font-size: 20px; vertical-align: middle;}
a.busket{ background-color: #F57137; padding:10px 21px; border-radius: 4px; vertical-align: middle;}

/*стилі для ціни і кнопки кошик на слайдерах 2 і 3 */
/*Медіа для кнопки каталогу */
@media (max-width: 991px) {
  .btn-default.catalog{width: 100%; text-align: center;}
}
/*Медіа для кнопки каталогу */